<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{pet.name}}</h1>
    <p>Species:{{pet.species}}</p>
    <p>{{pet.photo_url}}</p>
    <p>Age:{{pet.age}}</p>
    <p>Notes:{{pet.notes}}</p> 
    <p>Available?{{pet.available}} </p>
    <form method="POST">
    {% include "add_pet_form.html" %}
    <button type="submit">Update</button>
  </form>
</body>
</html>